<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.subClass.mapper.BigSpareMapper">

    <resultMap id="BaseResultMap" type="com.zk.subClass.bean.BigSpare">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="createPeople" column="create_people" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
            <result property="modifyPeople" column="modify_people" jdbcType="VARCHAR"/>
            <result property="detailed" column="modify_people" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        status,version,create_date,
        create_people,modify_date,modify_people,detailed
    </sql>
    <insert id="saveBigSpare">
        insert into big_spare (name,code,create_date,create_people,version,status)
        values(#{name},#{code},sysdate(),#{createPeople},0,1)
    </insert>
    <update id="updateStatus">
        update big_spare set status=#{status},modify_date=sysdate(),modify_people=#{modify_people}  where id=#{id}
    </update>
    <select id="queryAllBigSpares" resultType="com.zk.subClass.bean.BigSpare">
        select  id,name,code,remark,status,detailed,version from big_spare
        <where>
            <if test="code!=null and code!=''">
                and code like concat('%',#{code},'%')
            </if>
            <if test="name!=null and name!=''">
                and name  like concat('%',#{name},'%')
            </if>
            <if test="status!=null and status!=''">
                and status like concat('%',#{status},'%')
            </if>
        </where>
        order by id
        limit #{offset},#{pageSize}
    </select>
    <select id="queryAllBigSparesCount" resultType="java.lang.Integer">
        select  count(id) from big_spare
        <where>
            <if test="code!=null and code!=''">
                and code like concat('%',#{code},'%')
            </if>
            <if test="name!=null and name!=''">
                and name  like concat('%',#{name},'%')
            </if>
            <if test="status!=null and status!=''">
                and status like concat('%',#{status},'%')
            </if>
        </where>
    </select>
</mapper>
