<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.subClass.mapper.BigSpareMapper">

    <resultMap id="BaseResultMap" type="com.zk.subClass.bean.BigSpare">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="createPeople" column="create_people" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
            <result property="modifyPeople" column="modify_people" jdbcType="VARCHAR"/>
            <result property="detailed" column="modify_people" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        status,version,create_date,
        create_people,modify_date,modify_people
    </sql>
    <insert id="saveBigSpare">
        insert into big_spare (name,code,create_date,create_people,version,status)
        values(#{name},#{code},sysdate(),#{createPeople},0,1)
    </insert>
    <update id="updateStatus">
        update big_spare set status=#{status},modify_date=sysdate(),modify_people=#{modify_people}
        ,version=version+1
        where id=#{id}
    </update>
    <update id="updateBigSpare">
            update big_spare
        <set>
            <if test="status!=null ">
                status=#{status},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            <if test=" name!=null and name!=''">
                name=#{name},
            </if>
            modify_people=#{modifyPeople},
            modify_date=#{modifyDate},
            version=version+1
        </set>
        where id=#{id} and version=#{version}
    </update>


    <select id="selectVersion" resultType="java.lang.Integer">
        select version from big_spare where id=#{id}
    </select>
    <select id="queryAllBigSparesCount" resultType="java.lang.Integer">
        select  count(id) from big_spare
        <where>
            <if test="code!=null and code!=''">
                and code like concat('%',#{code},'%')
            </if>
            <if test="name!=null and name!=''">
                and name  like concat('%',#{name},'%')
            </if>
            <if test="status!=null ">
                and status=#{status}
            </if>
        </where>
    </select>
    <select id="queryAllBigSpares" resultType="com.zk.subClass.bean.BigSpare">
        select  id,name,code,remark,status,version from big_spare
        <where>
            <if test="code!=null and code!=''">
                and code like concat('%',#{code},'%')
            </if>
            <if test="name!=null and name!=''">
                and name  like concat('%',#{name},'%')
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
        </where>
        order by create_date
        limit #{offset},#{pageSize}
    </select>
    <select id="selectStatus" resultType="java.lang.Boolean">
        select status from big_spare where id=#{id}
    </select>
    <select id="selectNameGT0" resultType="java.lang.Integer">
        select Count(*) from big_spare where id!=#{id} and name=#{name}
    </select>
</mapper>
