<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.subClass.mapper.PartsetMapper">

    <resultMap id="BaseResultMap" type="com.zk.subClass.bean.Partset">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="BOOLEAN"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="createPeople" column="create_people" jdbcType="VARCHAR"/>
            <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
            <result property="modifyPeople" column="modify_people" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        remark,status,version,
        create_date,create_people,modify_date,
        modify_people
    </sql>
    <insert id="addPartset">
        insert into partset( name, code, remark, status, version, create_date, create_people)
        values (#{name},#{ code},#{ remark},#{ status},0,sysdate(),#{ createPeople})
    </insert>
    <update id="updateStatusById">
        update partset set status=#{status},modify_people=#{modifyPeople},modify_date=#{modifyDate}
            ,version=version+1
        where id=#{id}
    </update>
    <update id="modifySubClass">
        update partset
            <set>
               <if test="status!=null and status!=''">
                   status=#{status},
               </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            <if test="name!=null and name!=''">
                name=#{name}
            </if>
            modify_people=#{modifyPeople},
            modify_date=#{modifyDate},
            version=version+1
            </set>
            where id=#{id}
    </update>
    <select id="selectAllPageset" resultMap="BaseResultMap">
        select  id,name,code,remark,status,version from partset
        <where>
            <if test="code!=null and code!=''">
                and code like concat('%',#{code},'%')
            </if>
            <if test="name!=null and name!=''">
                and name  like concat('%',#{name},'%')
            </if>
            <if test="status!=null  ">
                and status=#{status}
            </if>
        </where>
        order by create_date
        limit #{offset},#{pageSize}
    </select>
    <select id="selectAllPagesetCount" resultType="java.lang.Integer">
        select  count(id) from partset
        <where>
            <if test="code!=null and code!=''">
                and code like concat('%',#{code},'%')
            </if>
            <if test="name!=null and name!=''">
                and name  like concat('%',#{name},'%')
            </if>
            <if test="status!=null ">
                and status=#{status}
            </if>
        </where>
    </select>
    <select id="selectCode" resultMap="BaseResultMap">
        select * from partset where code=#{code}
    </select>
    <select id="selectName" resultMap="BaseResultMap">
        select * from partset where name=#{name}
    </select>
    <select id="selectVersionById" resultType="java.lang.Integer">
        select version from big_spare where id=#{id}
    </select>
    <select id="selectVersion" resultType="java.lang.Integer">
        select version from partset where id=#{id}
    </select>
    <select id="selectStatusById" resultType="java.lang.Boolean">
        select status from partset where id=#{id}
    </select>
    <select id="selectPartNameById" resultType="java.lang.Integer">
        select Count(id) from partset where id!=#{id} and name=#{name}
    </select>
    <select id="selectAllByUserId" resultType="com.zk.commen.PartVo">
        select id ,name from partset where user_id=#{id};
    </select>

</mapper>
