<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.LegalPlantMapper">

    <resultMap id="BaseResultMap" type="generator.bean.LegalPlant">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="legalPlantCode" column="legal_plant_code" jdbcType="VARCHAR"/>
            <result property="legalPlantDec" column="legal_plant_dec" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="legalPersonId" column="legal_person_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createPeople" column="create_people" jdbcType="VARCHAR"/>
            <result property="modifyPeople" column="modify_people" jdbcType="VARCHAR"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,legal_plant_code,legal_plant_dec,
        status,legal_person_id,create_time,
        create_people,modify_people,modify_time,
        version
    </sql>
</mapper>
